<p>
  <b>Weight:</b>
  <%=h @shipping_rate.weight %>
</p>

<p>
  <b>Rate euro:</b>
  <%=h @shipping_rate.rate_euro %>
</p>


<%= link_to 'Edit', edit_admin_shipping_rate_path(@shipping_rate) %> |
<%= link_to 'Back', admin_shipping_rates_path %>
