<div class="innerContentTop clearfix">
    <div class="contentTitle">
        <%= image_tag("two.gif") %>
        <h5>Design</h5>
        Choose the design by clicking  on the images to the right.
    </div>
    <ul class="contentTopDesigns">
        <% for product_set in @product_sets %>
            <li>
                <%= link_to_remote image_tag("#{product_set.image.public_filename if product_set.image}"),
                  :update=>"innercontentBot", :method => "get", :url => product_set_products_path(product_set)  %></li>
            <% end %>
    </ul>
    <div class="topSelectDesign">
        <%= image_tag("btn_classic.gif") %>
    </div>
</div> <!-- //innerContentTop -->

