<ul id="nav">
    <li class="visited"><%= link_to '', root_path, :class => 'themes' %></li>
    <li class="visited"><a href="#" class="format"></a></li>
    <li class="active"><a href="#" class="typeContent"></a></li>
    <li class="menu"><a href="#" class="order"></a></li>
    <li class="menu"><a href="#" class="confirmation"></a></li>
</ul>