<div class="innerContentTop clearfix">
  <div class="contentTitleln">
    <div class="width25 floatLeft"><%= image_tag 'three.gif', :alt => 'Step Three' %> <br/>
    <h5>Customize</h5></div>
    <div class="width75 floatLeft"><p>Click on each product to type your own text, change the colors and fonts.<br />When you are ready click on next to proceed.</p></div>
  </div> <!-- //contentTitleln -->
</div> <!-- //innerContentTop -->

<div id="innercontentBotWrapper" class="clearfix">
    <div id="innercontentBot" class="clearfix">
        <% for item in @cart.items -%>

    <%= render :partial => 'sites/cart_item', :locals => { :item => item } %>

<% end -%>
<div class="btnSubmit">
    <ul class="btns">
        <li class="prev"><%= link_to "", root_path %></li>
        <li class="next btnNext1"><%= link_to "", new_order_path  %></li>
    </ul>
</div>
    </div> <!-- //innercontentBot -->
</div> <!-- //innercontentBotWrapper -->