<div class="innerContentTop clearfix">
    <div class="contentTitleln">
        <%= image_tag 'five.gif', :alt => 'Final Step' %> <br/><br/>
        <h5>Confirmation</h5>
    </div> <!-- //contentTitleln -->
</div> <!-- //innerContentTop -->

<div id="innercontentBotWrapper" class="clearfix">
    <div id="innercontentBot" class="clearfix">
        <div class="thankyou">
            <strong>Thank you!</strong><br/>
            Thanks for your order. A confirmation has been sent to you  via E-mail.<br/>
            <a href="<%= root_path %>">Back to startpage </a>
        </div>
    </div> <!-- //innercontentBot -->
</div> <!-- //innercontentBotWrapper -->
