<div class="contentTopLeft">
  <h1>Sätt egen prägel på<br />
  våra handgjorda bröllopsinbjudningar</h1>
  Med hjälp av vår användarvänliga webbtjänst kan du genom några enkla steg skapa den känsla ni önskar till era bröllopsinbjudningar. <br />
  <br />
Börja med att välja det tema ni önskar; klassiskt eller modernt. Därefter kommer ni stegvis få bestämma vilka produkter ni önskar er samt hur dessa ska vara utformade.   &nbsp;&nbsp;<a href="#">» Läs mer</a> </div>
<div class="contentTopRight">
  <div class="contentTopRightSub classic"> <img src="/images/txt_classic.gif" class="floatright" /> <img src="/images/img_classic.jpg" class="mt" />
<%= link_to_remote "» Se exempel", :url => "/categories/1/product_sets", :method => :get, :update => 'contentTop' %> </div>
  <div class="contentTopRightSub"> <img src="/images/txt_modern.gif" /> <img src="/images/imag_modern.jpg" class="mt" />
<%= link_to_remote "» Se exempel", :url => "/categories/2/product_sets", :method => :get, :update => 'contentTop' %> </div>
</div>

