<div class="contentTopLeft">
  <h1>Sätt egen prägel på<br />
  våra handgjorda bröllopsinbjudningar</h1>
  Med hjälp av vår användarvänliga webbtjänst kan du genom några enkla steg skapa den känsla ni önskar till era bröllopsinbjudningar. <br />
  <br />
Börja med att välja det tema ni önskar; klassiskt eller modernt. Därefter kommer ni stegvis få bestämma vilka produkter ni önskar er samt hur dessa ska vara utformade.   &nbsp;&nbsp;<a href="#">» Läs mer</a> </div>
<div class="contentTopRight">
  <div class="contentTopRightSub classic"> <img src="images/txt_classic.gif" class="floatright" />
    <%= link_to image_tag("img_classic.jpg", :class => 'mt'), category_product_sets_path("Classic"), :html => {:class => 'cat_image'} %>
    <%= link_to "» Se exempel", category_product_sets_path("Classic"), :html => {:class => 'cat_text'}  %> </div>
  <div class="contentTopRightSub"> <img src="images/txt_modern.gif" />
  <%= link_to image_tag("imag_modern.jpg", :class => 'mt'), category_product_sets_path("Modern"), :html => {:class => 'cat_image'} %>
  <%= link_to "» Se exempel", category_product_sets_path("Modern"), :html => {:class => 'cat_text'} %> </div>
</div>

