<a href="#" class="lbAction" rel="deactivate"><img id="reading-close" src="/images/closelabels.gif" alt="Close Button" title="Close" class="right"
    style="width: 66px; height: 22px; float: right" /></a>
<h2>Your Shopping Cart</h2>

<div id="cart_items">
<% for item in @cart.items -%>

    <%= render :partial => 'cart_item', :locals => { :item => item } %>

<% end -%>
</div>